.motherdiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideA {
  height: 150px;
  max-width: 100vw;
}

.tictac-board {
  height: 330px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideB {
  height: 150px;
}

.player-name:disabled {
}

.player-name:disabled {
  background: white;
}

.player-name {
  width: 200px;
  height: 75px;
  font-size: 47px;
  text-align: center;
  border-radius: 20px;
}

.side {
  height: 100px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 360px;
  height: 664px;
}

.button {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  font-size: 50px;
  text-align: center;
  border-radius: 30px;
}

.XorY {
  width: 99px;
  height: 75px;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  background: #7bda84;
}

.messageClass {
  width: 360px;
  height: 42px;
}

.gamemessage {
  text-align: center;
  color: yellow;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.arrows {
  width: 90px;
  height: 40px;
  border-radius: 25px;
  background-color: darksalmon;
}

.previousandnext {
  height: 50px;
  text-align: center;
  padding-left: 54px;
  padding-right: 54px;
}

#bomb {
  width: 72px;
  text-align: center;
  background-color: crimson;
}

.board {
  width: 300px;
  height: 300px;
}

